 :root{
 --oscuro: #000;
 --blanco:#FFF;
 --primario: #FFC107;
 --secundario: #0097A7;
 --gris: #757575;

 }/* pseudoclases o pseudoSelector que permite almacenar variables que se conocen como  CustomProperties */



html{
 font-size: 62.5%;
} /* seteamos el font size de la pantalla */

body{
    font-size: 16px; /** 1 rem = 10 Px   **/

} /*  seteamos el  font size de el body */










.titulo {
    text-align: center;
    text-transform: uppercase;
    font-size:  3.8rem;
    font-family: 'Antonio', sans-serif;
    font-weight: 300;
    color: var(--oscuro);
 }

 span{
   font-size: 2rem;

 }